body {
    /* font-family: 'Raleway', sans-serif; */
    font-family: 'Roboto', sans-serif;
    color: var(--color-slate);
}

:root {
    --color-light: #ffffff;
    --color-iris: #4D5AE5;
    --color-navyblue: #2E2F42;
    --color-slate: #434455;
    --color-cloud: #F4F4FD;
    --color-cornflower: #E7E9FC;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}
/* ---------Header--------- */

.logo {
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    color: var(--color-navyblue);
}

.logo-color {
   color: var(--color-iris);
}

.header-list {
    font-size: 16px;
    line-height: 1.5; 
    letter-spacing: 0.32px;
}

.header-list-item {
    color: var(--navyblue, #2E2F42);
    font-weight: 500;
   
}

.header-list-link {
    color: var(--slate, #434455);
    font-weight: 400;
}

.header-list-link:hover,
.header-list-link:focus {
    color: var(--color-iris);
} 

/* -----------Main--------- */
/* Main-section */
.main-section {
    background-color: var(--color-navyblue);
}

.tittle-main {
    text-align: center;
    font-family: Roboto;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.07; 
    letter-spacing: 1.12px;
    color: var(--color-light);
}

.button-service {
    border-radius: 4px;
    background-color: var(--color-iris);
    cursor: pointer;
    color: var(--color-light);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5; 
    letter-spacing: 0.64px;
}

.button-service:hover,
.button-service:focus {
    background-color: var(--color-cloud);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: var(--color-slate);
}


/* Section hidden Our advantages  */
.section-advantages {
    background-color: var(--color-light);
}

/* .main-list-advantages {

}

.main-item-advantages {

} */

.subtittle-main-section {
    color: var(--color-navyblue);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
}

.text-main-section {
    color: var(--color-slate);
    font-family: Roboto;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

/* Section-team */
.section-team {
    background-color: var(--color-cloud);
}

.main-item-team {
    border-radius: 0px 0px 4px 4px;
    background-color: var(--color-light);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.tittle-main-section {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    color: var(--color-navyblue);
}

/* Section Our Portfolio */
.section-portfolio {
    background-color: var(--color-light);
}

.main-item-portfolio {
    border: 1px solid var(--color-cornflower);
    background-color:  var(--color-light);
}