:root {
    --color-light: #ffffff;
    --color-iris: #4D5AE5;
    --color-navyblue: #2E2F42;
    --color-slate: #434455;
    --color-cloud: #F4F4FD;
    --color-cornflower: #E7E9FC;
    --color-ocean: #404BBF;
}

body {
    /* font-family: 'Raleway', sans-serif; */
    font-family: 'Roboto', sans-serif;
    color: var(--color-slate);
    font-size: 16px;
    background-color: var(--color-light);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}


/* ---------Header--------- */


.logo {
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    color: var(--color-iris);
}

.logo-color {
    color: var(--color-navyblue);
}

.header-list {
    line-height: 1.5; 
    letter-spacing: 0.32px;
}

/* .header-list-item {
   } */

.header-list-link {
    color: var(--color-navyblue);
    font-weight: 500;
}

.header-list-link:hover,
.header-list-link:focus {
    color: var(--color-ocean);
    text-decoration: underline;
} 

.header-info {
    font-style: normal;
}

.link-info {
    color: var(--color-slate);
    font-weight: 400px;
}

.link-info:hover {
   text-decoration: none;
}

/* -----------Main--------- */



/* Hero-section */
.hero-section {
    background-color: var(--color-navyblue);
}

.tittle-main {
    text-align: center;
    font-family: Roboto;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.07; 
    letter-spacing: 1.12px;
    color: var(--color-light) ;
}

.button-service {
    cursor: pointer;
    color: var(--color-light);
    font-weight: 500;
    line-height: 1.5; 
    letter-spacing: 0.64px;
    background-color: var(--color-iris);
}

.button-service:hover,
.button-service:focus {
    background-color: var(--color-ocean);
}


/* Section hidden Our advantages */
/* .section-advantages {
   
} */

/* .main-list-advantages {

}

.main-item-advantages {

} */

.subtittle-main-section {
    color: var(--color-navyblue);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
}

.text-main-section {
    color: var(--color-slate);
    font-family: Roboto;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

/* Section-team */
.section-team {
    background-color: var(--color-cloud);
}

/* .main-list-team {

} */

.main-item-team {
    background-color: var(--color-light);
}

.tittle-main-section {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    color: var(--color-navyblue);
}

/* Section Our Portfolio */
/* .section-portfolio {
   
} */

/* 
.main-list-portfolio {

} */

/* .main-item-portfolio {
  } */


/* ---------Footer------------- */

.final-info {
    background-color: var(--color-navyblue);
}

.final-logo {
    color: var(--color-cloud);
}

.text-final-info {
    color: var(--color-cloud);
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px; 
}